
/Users/aiswarya/DataScienceArena/deep_dive_analytics/bangalore_housing/.ipynb_checkpoints/

/Users/aiswarya/DataScienceArena/deep_dive_analytics/bangalore_housing/Scraping AreaWise Property Data using Beautiful Soup.ipynb

